$text-gray: #697386;
$icon-gray: #8792A2;
$text-dark: #1A1F36;
$text-default: #3C4257;
$border-color: rgba(60, 66, 87, 0.12);
$box-shadow-dark: 0px 2px 5px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.04);
$box-shadow-light: 0px -1px 1px rgba(0, 0, 0, 0.12), 0px 2px 5px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.08);
$box-shadow-divider: 0px 15px 30px rgba(0, 0, 0, 0.08);