@import '../../sass/main';

.form {
  input, select {
    box-shadow: $box-shadow-dark;
    border-radius: 8px;
  }
  .form-entry {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 5%;
    position: relative;
    .label {
      color: $text-gray;
      font: 900 14px $secondary-font;
      letter-spacing: 0.005em;
      font-feature-settings: 'pnum' on, 'lnum' on;
      margin: 3% 0 2% 0;
    }
    input { 
      padding: 5%;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; 
      }
      &[type=number] {
          -moz-appearance:textfield;
      }
    }
    select {
      padding-left: 4%;
    }
    input, select {
      height: 40px;
      border: 1px solid $border-color;
      &.card-number {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
      }
      &.expiry {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 50%;
      }
      &.cvc {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        width: 50%;
      }
      &.card-zip {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      &.card-country {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
      }
    }
    .card-info-container{
      position: relative;
      .cvc-img {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 30px;
      }
    }
    .card-types {
      position: absolute;
      display: flex;
      top: 50px;
      right: 20px;
      .card-img {
        width: 30px;
        margin-left: 2%;
      }
    }
    .error {
      color: red;
      font: 500 12px $secondary-font;
      position: absolute;
      bottom: 0;
    }
  }
  button.submit-btn {
    background-color: $text-default;
    color: $icon-gray;
    font: 500 16px $main-font;
  }
  .sucess {
    color: green;
    font: 500 14px $secondary-font;
  }
}
